<div class="hero-wrapper hero-wrapper__about">  
  <div class="hero_img hero_img__about"></div>
  <div class="page-heading">We love what can happen around the restaurant table.</div>
</div>

<div class="about_content pt-2 text_content col-md-8 col-md-offset-2">
  <h1 class="section-title">Our story</h1>
  <p>
    <div>
      We love what can happen around the restaurant table. And since 1998 we’ve been committed to empowering that experience.
      From helping restaurants of all sizes thrive, to enabling diners to find and book the perfect table for every occasion,
      our story is one of human connection—among diners and restaurants, and between restaurants and their communities.
    </div>
    <br>
    <br>
    <div>
      Now, we’re growing globally like never before, and continuing to lead the conversation in the tech and restaurant
      spaces with products that anticipate the ever-evolving needs of both restaurants and diners.
    </div>
    <br>
    <br>
    <div>
      With our passion for hospitality, we take pride in bringing together people and the restaurants they love in the moments
      that matter. Pull up a chair and join us.
    </div>
  </p>
</div>

