<div class="hero-wrapper hero-wrapper__business">  
  <div class="hero_img hero_img__business"></div>
  <div class="hero_content_business">
    <div class="page-heading">Serving the best restaurants for 25 years and counting</div>
    <div>
      <%= link_to "Get started", "new_user_registration_path", class: "hero__button" %>
    </div>
  </div>
</div>

<div class="about_content pt-2 text_content col-md-8 col-md-offset-2">
  <h1 class="section-title">
    Welcome to the most complete, easiest-to-use, and truly reliable restaurant platform out there
  </h1>
  <br>
  <p>
    <div>
      With the all-in-one solution to maximize seatings and setup your operations for success, be they big or small.
    </div>
    <br>
    <br>
    <div>
      With the diner network and industry-leading tools to bring in more guests when you need them.
    </div>
    <br>
    <br>
    <div>
      With top customer management tools that help you serve up the best hospitality possible and keep guests coming back.
    </div>
  </p>
</div>

