<h1>Editing group</h1>

<%= turbo_frame_tag "#{dom_id(@group)}_infor" do %>

  <%= render "form", group: @group, menu: @menu %>

  <%= link_to "Cancel", group_path(@group, menu_id: @menu.id) %> |
  <%= link_to "Destroy this group", group_path(@group, menu_id: @menu.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> | 

<% end %>