<%= turbo_stream.update @target do %>
  <div><strong>Restaurant available times</strong></div>
  <div>
    <% create_link_with_available_choices(@available_choices, @party_size).each do |choice| %>
      <%= choice %>
    <% end %>
  </div>
<% end %>

