<%= render "shared/small_container" do %>

  <h1>Make a reservation</h1>

  <%= render "form", reservation: @reservation %>

  <br>

  <div>
    <%= link_to "Back to reservations", reservations_path %>
  </div>
<% end %>
