<%= render "shared/user_content_container" do %>
  <%= render @reservation %>

  <div>
    <%= link_to "Cancel reservation", edit_reservation_path(@reservation) %> |
    <%= link_to "Back to reservations", reservations_path %>
  </div>
<% end %>