<div class="pt-3">
  <strong>Table information:</strong>
</div>

<div class="pt-3">
  <strong>Number:</strong>
  <%= table.number %>    
</div>

<div class="py-3">
  <strong>Seats:</strong>
  <%= table.seats %>
</div>