<div id="<%= dom_id table %>" class="pb-3 border_top_gray">
  <div class="">

    <%= turbo_frame_tag "#{dom_id(table)}_infor" do %>
      <%= render "tables/table_infor", table: table %>
    <% end %>

    <%= link_to "Edit this table", edit_table_path(table), data: { turbo_frame: "#{dom_id(table)}_infor" } %>

  </div>
</div>