<h1>Editing table</h1>

<%= turbo_frame_tag "#{dom_id(@table)}_infor" do %>

  <%= render "form", table: @table %>

  <%= link_to "Cancel", table_path(@table) %> |
  <%= link_to "Destroy this table", table_path(@table), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> | 
<% end %>

