<h1>New table</h1>

<%= turbo_frame_tag "table_new" do %>
  <%= render @bulk_form ? "bulk_form" : "form", table: @table %>
<% end %>

<br>

<div>
  <%= link_to "Back to tables", tables_path %>
</div>
