<h1>Editing serve size</h1>

<%= render "form", serve_size: @serve_size %>

<br>

<div>
  <%= link_to "Show this serve size", @serve_size %> |
  <%= link_to "Back to serve sizes", serve_sizes_path %>
</div>
