<div>
  <strong><%= seating_option.name %> seating option</strong>
  <% if seating_option.indestructible? %>
    <span class="color_gray">* Default option can not be destroyed</span>
  <% end %>
</div>