<h1>Editing seating option</h1>

<%= render "form", seating_option: @seating_option %>

<br>

<div>
  <%= link_to "Show this seating option", @seating_option %> |
  <%= link_to "Back to seating options", seating_options_path %>
</div>
