<h1>New seating option</h1>

<%= turbo_frame_tag "seating_option_new" do %>
  <%= render "form", seating_option: @seating_option %>
<% end %>

<br>

<div>
  <%= link_to "Back to seating options", seating_options_path %>
</div>
