.admin_nav {
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  background-color: rgb(240, 240, 240);
  padding: 0 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.nav-link--gray {
  color: var(--color-gray);
}
