.admin_nav {
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  border-bottom: 1px var(--color-gray) solid;
}
.nav-link--gray {
  color: var(--color-gray);
}
