.hero-wrapper__business {
  height: 480px;
}
.hero_img__business {
  z-index: -1;
  max-width: 100vw;
  background-image: url("business_hero_img");
}
.hero_content_business {
  backdrop-filter: blur(66px);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}
.hero_content_business .page-heading {
  text-align: left;
}
.section_title_business {
  font-weight: bold;
}
@media (max-width: 767px) {
  .section_title_business {
    font-size: 24px;
    line-height: 24px;
  }
}