input[type="text"], textarea, input[type="number"] {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  border: 2px solid var(--color-gray);
  outline: none;
}
input[type="text"]:focus, textarea:focus, input[type="number"]:focus {
  border: 2px solid var(--color1);
}
label {
  padding-top: 1rem;
}
.main-button {
  line-height: 20px;
  color: white;
  padding: 0.5rem 1.5rem;
  margin: 1rem auto;
  border-radius: 3rem;
  outline: none;
  border: none;
  font-weight: bold;
  opacity: 0.9;
  transition: all 0.3 ease-in-out;
}
.main-button--red {
  background-color: var(--color1);
}
.main-button--blue {
  background-color: var(--color2);
}
.main-button--red-light {
  background-color: var(--color-red-light);
}
.main-button:hover, .main-button:focus {
  opacity: 1;
  transition: all 0.3 ease-in-out;
  color: white;
}