/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "navbar";
@import "admin_nav";
@import "form";
@import "flex_buttons";

* {
  --color1: #da3743;
  --color2: #4a6fde;
  --color-gray:	#6f737b;
  --color-gray-light: #d8d9db;
  --color-red-light: #e15b64;
  box-sizing: border-box;
  text-decoration: none !important;
}
.color_gray {
  color: var(--color-gray);
}
.section-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin-top: 16px;
}
// card styling
.normal-card {
  padding: 1rem 1.5rem;
}
.normal-card--round {
  border-radius: 1rem;
}
.normal-card--shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h1 {
  font-size: x-large;
  margin: 1rem auto;
}
h2, .h2 {
  font-size: large !important;
}
.main-content {
  margin: auto;
  width: Min(100%, 1000px);
}
.border_bottom_gray {
  border-bottom: 0.0625rem solid var(--color-gray-light);
}
.border_bottom_red_big {
  border-bottom: 0.25rem solid var(--color1);
}
.border_top_gray {
  border-top: 0.0625rem solid var(--color-gray-light);
}
