<% provide(:sub_title, "Restaurant") %>

<%= render "shared/admin_content_container" do %>
  
  <h1>Editing restaurant profile</h1>
  
  <%= render "form", restaurant_profile: @restaurant_profile %>
  
  <br>
  
  <div>
    <%= link_to "Back to restaurant profile", @restaurant_profile %>
  </div>
<% end %>
