<div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 normal-card normal-card--shadow">
  <% provide(:admin_page, "admin") %>
  
  <h1>Editing restaurant profile</h1>
  
  <%= render "form", restaurant_profile: @restaurant_profile %>
  
  <br>
  
  <div>
    <%= link_to "Back to restaurant profile", @restaurant_profile %>
  </div>
</div>
