<%= render "shared/admin_content_container" do %>
  <% provide(:sub_title, "Restaurant") %>
  <h1>New restaurant profile</h1>
  
  <%= render "form", restaurant_profile: @restaurant_profile %>
<% end %>
