<%= render "shared/admin_content_container" do %>
  <% provide(:sub_title, "Restaurant") %>
  <div>
    <%= link_to "Edit this restaurant profile", edit_restaurant_profile_path(@restaurant_profile) %>
  </div>
  <br>

  <%= render @restaurant_profile %>
<% end %>
