<% return unless (business_signed_in? && admin_page?(yield(:admin_page))) %>

<div class="admin_nav">
  <div class="nav-item"><%= link_to "Table", "#", class: "nav-link nav-link--gray" %></div>
  <div class="nav-item"><%= link_to "Menu", "#", class: "nav-link nav-link--gray" %></div>
  <div class="nav-item"><%= link_to "Restaurant", "#", class: "nav-link nav-link--gray" %></div>
  <div class="nav-item">
    <%= link_to "Logout", destroy_business_session_path, data: { turbo_method: :delete }, class: "nav-link nav-link--gray" %>
  </div>
</div>